* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.imageThanks {
  width: 332px;
  height: 295px;
  animation: shake 1.5s infinite;
}

.wrapper-img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btnHandle {
  width: 90%;
  height: 50px;
  margin-left: 20px;
}

.order-input {
  width: 80%;
  padding-left: 10px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #686868;
  outline: none;
  margin-left: 20px;
}

.firstBackground > div > .title {
  padding-bottom: 5px;
}

.containerQuestiion {
  height: 611px;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #fff;
  padding: 20px 0;
}

.wrapper-answer-row {
  margin-top: 10px;
  padding-left: 30px;
  .answer {
    padding: 5px;
  }
}

.imageBox {
  opacity: 1;
  visibility: hidden;
  position: absolute;
  width: 317px;
  height: 340px;
  top: 159px;
}

@keyframes jump {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.toggleBonus {
  display: none;
}

.imageBox.show,
.textBonus.show,
.btnBonus.show {
  opacity: 1;
  visibility: visible;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  animation-fill-mode: forwards;
}

.imageBonus {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 98px;
  height: 131px;
  top: 273px;
  animation: jump 0.8s infinite;
}

.imageBonus.show {
  opacity: 1;
  visibility: visible;
}

.wrapper-bonus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imageColor {
  width: 277px;
  height: 208px;
}

.answer {
  display: flex;
  align-items: center;
  color: rgb(68, 67, 67);
  font-weight: 550;
  font-size: 16px;
  margin-bottom: 10px;
}

.answer input {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.wrapper-answer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding-left: 30px;
  height: 40px;
  margin-top: 10px;
}

.question {
  color: rgb(35, 35, 119);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.subQuestion {
  color: rgb(107, 107, 107);
  font-weight: 550;
  font-size: 16px;
}

.wrapper-question {
  background-color: #fff;
  padding: 10px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

.btnBonus {
  opacity: 0;
  visibility: hidden;
  width: 350px;
  height: 50px;
  margin-left: 12px;
  display: none;
  margin-top: 20px;
}

.textBonus {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  top: 421px;
  color: #fff;
}

.wrapperImageColor {
  flex: 1;
  position: relative;
  margin-top: 20px;
  height: 255px;
}

.imageColor {
  width: 277px;
  height: 208px;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.wrapperImage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.wrapperTitle {
  display: flex;
  justify-content: center;
}

.imageTitle {
  width: 289px;
  height: 137px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.berries {
  width: 75px;
  height: 53px;
  animation: pulse 0.8s infinite;
}

.dp_n {
  display: none !important;
}

.dp_b {
  display: block !important;
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.wrapper-berries {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 75%;
  top: 76px;
}

.wrapper-home {
  position: relative;
  width: 355px;
  height: 187px;
  display: flex;
  justify-content: center;
}

.imageHome {
  width: 100%;
  height: 100%;
}

.imageSelectBerries {
  width: 375px;
  height: 165px;
  margin-top: 50px;
}

.btnJoin {
  min-width: 300px;
  height: 50px;
}

.btn {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: rgb(35, 35, 119);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(2, 2, 124);
}

.input,
.optionGender {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  height: 45px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 10px;
  color: #686868;
}

.input-name {
  width: 100%;
  margin-bottom: 5px;
}

.wrapper-input {
  display: flex;
  justify-content: space-between;
}

.input-select {
  width: 45%;
  margin-bottom: 5px;
}

.wrapper-validate {
  display: flex;
  justify-content: space-between;
}

.error {
  display: none;
  color: red;
  text-align: left;
  padding: 5px 0 10px;
}

.subTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: rgb(1, 6, 91);
  margin: 0;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: rgb(1, 6, 91);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.content-info {
  width: 343px;
  height: 274px;
  margin-top: 57px;
  text-align: center;
}

.wrapper-enter-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperLogo {
  background-image: url("../asset/image/firstBackground.png");
  display: flex;
  justify-content: center;
}

.logo {
  width: 172px;
  height: 105px;
}

.wrapper {
  width: 400px;
  height: 100vh;
  min-height: 667px;
  background-image: url("../asset/image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.wrapperQuestion {
  width: 400px;
  height: 100vh;
  min-height: 667px;
}

.firstBackground {
  height: 500px;
  height: 190px;
  background-image: url("../asset/image/firstBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}



.wrapperLogo {
  display: flex;
  justify-content: center;
}
